* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Lato';
}

.container {
  margin: 0 auto;
  max-width: 1142px;
  width: 100%;
  height: 100%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  height: 75px;
  width: 100%;
  background-color: #222222;
  z-index: 10;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.header__form--text {
  opacity: 0;
  height: 30px;
  border-radius: 20px;
  font-size: 16px;
  -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.header__form--text:focus {
  opacity: 1;
}

.header__form--text:active {
  opacity: 1;
}

.header__form:hover .header__form--text {
  margin: 0 10px;
  opacity: 1;
}

.header__right {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon {
  margin: 0 15px;
  height: 30px;
  width: 30px;
  -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.icon:hover {
  padding: 5px;
  border: 1px solid #E8E8E8;
  border-radius: 5px;
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
}

nav {
  position: fixed;
}

.brand {
  width: 100%;
  height: 100vh;
  background-color: #F1E4E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.brand__img {
  width: 100%;
  height: 100%;
  background-image: url(../img/brand/brand.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 75px;
}

.brand__right {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.brand__logo {
  margin-top: 75px;
  margin-left: 60px;
  padding: 0 0 0 10px;
  border-left: 4px solid #F16D7F;
  text-transform: uppercase;
}

.brand__title {
  font-size: 48px;
  line-height: 48px;
}

.brand__text {
  font-size: 32px;
  line-height: 32px;
}

.offer {
  width: 100%;
  height: 100%;
  margin: 65px auto;
}

.offer__up {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer__down {
  margin: 30px 0;
  height: 180px;
}

.offer__card {
  width: 360px;
  height: 260px;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.offer__card:hover {
  -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
}

.offer__card:hover .offer__card--filter {
  background-color: rgba(33, 22, 22, 0.5);
}

.offer__card--filter {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  background-color: rgba(33, 22, 22, 0.7);
  -webkit-transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.offer__text {
  color: #FFFFFF;
}

.offer__title {
  color: #F16D7F;
}

.long {
  width: 100%;
  height: 180px;
}

.one {
  background-image: url(../img/offer/one.png);
}

.two {
  background-image: url(../img/offer/two.png);
}

.three {
  background-image: url(../img/offer/three.png);
}

.four {
  background-image: url(../img/offer/four.png);
}

.production {
  width: 100%;
  height: 100%;
  margin: 30px auto;
}

.production__title {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.production__title--title {
  margin: 6px;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
}

.production__title--text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}

.production__items {
  width: 100%;
  height: 100%;
  margin: 50px 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.production__card {
  width: 360px;
  height: 575px;
  background-color: #E8E8E8;
  -webkit-transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  margin: 15px 10px;
}

.production__card:hover .production__cart {
  opacity: 1;
}

.production__up {
  width: 100%;
  height: 420px;
  position: relative;
  -webkit-transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.production__img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.production__cart {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(58, 56, 56, 0.8);
  -webkit-transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
}

.production__cart--btn {
  padding: 5px;
  border: 1px solid #E8E8E8;
  color: #E8E8E8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.production__cart--btn:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.production__cart--btn span {
  margin: 5px;
}

.production__cart--btn img {
  margin: 5px;
}

.production__bottom {
  width: 100%;
  height: 155px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 18px;
  text-align: left;
}

.production__name {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
}

.production__description {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
}

.production__price {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.production__btn {
  width: 212px;
  height: 48px;
  color: #E8E8E8;
  background-color: #F16D7F;
  text-align: center;
  line-height: 48px;
  font-size: 16px;
  text-transform: capitalize;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.production__btn:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: #fff;
  border: 1px solid #F16D7F;
  color: #F16D7F;
}

.production__btn-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
/*# sourceMappingURL=style.css.map */